<div class="pageparent">
  <mat-nav-list>
    <div mat-subheader>Menu</div>

    <mat-list-item (click)="navigateTo('/dashboard')">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>Dashboard</div>
    </mat-list-item>    
    <mat-divider></mat-divider>

    <mat-list-item (click)="navigateTo('/lessons')">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Lessons</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item (click)="navigateTo('/settings')">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Settings</div>
      </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
